
# if nix-direnv is not installed, replace with `use flake .`
use_flake

# Can I include `riff` as a flake in my devshell?
# NO - because it currently packages its own `rustc` which breaks the nix devshell config
# watch_file Cargo.toml Cargo.lock
# eval "$(riff print-dev-env)"
